<%- include('./layouts/header') %>
<body class>
    <%- include('./layouts/navbar') %>
    <section class="home">
        <main class="content wrapper">
            <!-- Кнопка для чтобы вернуться наверх страницы -->
            <a id="button">
                <i class="fa-solid fa-chevron-up icon"></i>
            </a>
            <!-- Мобильный хедер -->
            <div id="mobile_header">
                <div class="menu-box">
                    <i class="fa-solid fa-bars mobile-toggle"></i>
                </div>
                <div class="mobile-title">
                    ИС "М.О.П.С."
                </div>

            </div>

            <!-- див с ошибкой -->
            <div class="block__info">
                <%- include('./layouts/flash-message') %>
            </div>
            <div class="general">
                    <div class="title">
                        Объекты
                    </div>
                    <!-- <div class="types__filters">
                        <h2 class="filters__title">Фильтры:</h2>
                        <button type="button" class="types__button mixitup-control-active" data-filter="all">Все виды</button>
    
                        <button type="button" class="types__button" data-filter=".f-kindergarten">Детские сады</button>
                        
                        <button type="button" class="types__button" data-filter=".f-school">Школы</button>
                        
                        <button type="button" class="types__button" data-filter=".f-hospital">Больницы</button>
                        
                        <button type="button" class="types__button" data-filter=".f-other">Прочее</button>
                        
                    </div> -->
                    <div class="types__row">

                    <% objects.forEach(object => { %>
                        <!-- Блок-->
                        <a href="#popup-<%= object.object_name %>" class="search_object types__block block mix popup-link f-kindergarten">
                            <h2 class="block__title"><%= object.object_name %></h2>
                            <div class="block__info">
                                <p>Адрес: <span><%= object.adress %></span></p>
                            </div>
                        </a>
                        <!-- Модальное окно -->
                        <div id="popup-<%= object.object_name %>" class="popup">
                            <div class="popup__body">
                                <div class="popup__content">
                                    <div class="popup__header">
                                        <h1 class="popup__title"><%= object.object_name %></h1>
                                        <a href="#" class="popup__close close-popup">
                                            <i class="fa fa-solid fa-xmark" alt="Закрыть модальное окно"></i>
                                        </a>
                                    </div>
                                    <div class="popup__info">
                                        <h2 class="popup__header">Адрес:</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="leftcol"><i class="fa-solid fa-location-dot"></i></td>
                                                    <td class="rightcol">
                                                        <div class="organizers"><%= object.adress %></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h2 class="popup__header">ИНН:</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="leftcol"><i class="fa-solid fa-id-card"></i></td>
                                                    <td class="rightcol">
                                                        <div class="organizers"><%= object.inn %></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h2 class="popup__header">Контактное лицо:</h2>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="leftcol"><i class="fa-solid fa-user"></i></td>
                                                    <td class="rightcol">
                                                        <div class="organizers"><%= object.fio_object_contact %></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="leftcol"><i class="fa-solid fa-briefcase"></i></td>
                                                    <td class="rightcol">
                                                        <div class="organizers"><%= object.job_object_contact %></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="leftcol"><i class="fa-solid fa-phone"></i></td>
                                                    <td class="rightcol">
                                                        <div class="organizers"><%= object.phone_object_contact %></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <div class="popup__footer popup__info">
                                    <button href="#popup-order-<%= object.object_name %>" class="close-popup btn popup-link popup-link-request" type="submit" >Создать заявку</button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- Модальное окно с заявкой (оно одно на все объекты) -->
                        <div id="popup-order-<%= object.object_name %>" class="popup popup-req">
                            <div class="popup__body">
                                <div class="popup__content">
                                    <div class="popup__header">
                                        <h1 class="popup__title">Новая заявка</h1>
                                        <a href="#" class="popup__close close-popup">
                                            <i class="fa fa-solid fa-xmark" alt="Закрыть модальное окно"></i>
                                        </a>
                                    </div>
                                    
                                    <div class="popup__info">
                                        <!-- Форма нового объекта -->
                                        <form action="/orders/newOrder" method="post">
                                            <h1 class="popup__title">Вид оборудования:</h1>
                                            <div class="form-group">
                                                <div class="info">
                                                    <input type="hidden" name="order_object_name" id="order_object_name" value="<%= object.object_name %>"  readonly/>
                                                    <input type="hidden" name="order_client_login" id="order_client_login" value="<%= object.client_login %>" readonly/>
                                                    <!-- <input name="decline_reason" id="decline_reason" value="" readonly/>
                                                    <input name="order_object_name" id="order_object_name" value=""  readonly/>
                                                    <input name="order_status" id="order_status" value=""  readonly/> -->
                                                </div>
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="video_control" name="equipment_type" value="video_control" required><label for="video_control">
                                                        <span>Видеонаблюдение</span></label>
                                                    </li>
                                                    <li><input type="radio" id="fire_control" name="equipment_type" value="fire_control"><label for="fire_control">
                                                        <span>Пожарная сигнализация</span>
                                                    </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h1 class="popup__title">Вид работы:</h1>

                                            <div class="form-group">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="service" name="work_type" value="service" required><label for="service">
                                                        <span>Обслуживание</span></label>
                                                    </li>
                                                    <li><input type="radio" id="montage" name="work_type" value="montage"><label for="montage">
                                                        <span>Монтаж</span>
                                                    </label>
                                                    </li>
                                                    <li><input type="radio" id="repair" name="work_type" value="repair"><label for="repair">
                                                        <span>Ремонт</span>
                                                    </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <textarea class="text_aria"name="client_comment" minlength="4" id="client_comment" rows="7" cols="40" placeholder="Комментарий"></textarea>
                                            
                                            <div class="popup__footer popup__info">
                                                <button class="btn " type="submit" >Создать</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </main>
    </section>

<script src="js/script.js"></script>
<script src="js/accordion.js"></script>
<script src="js/card.js"></script>
<script>      
    var mixer = mixitup(".types__row");
</script>

<%- include ('layouts/footer') %>